@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

.custom-bg{
  background-image: url(./assets/react.svg);
  background-size: cover;
  background-position: center;
}

.custom-hover:hover{
    color: #0D3859 ;
    background-color: white;
    outline: 1px solid #0D3859;
}


body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}